@import url('colors.css');
@import url('animations.css');
@import url('fonts.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    transition: 0.3s all;
    text-transform: uppercase;
}

body {
    background-image: url("/styles/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-container {
    width: 90%;
    margin-top: 30pt;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.task {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 50px     ;
}

.complete-button {
    padding: 5px;
    font-size: 1.3em;
}

.fa-check {
    color: var(--licorice);
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}

.task-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task-title {
    font-size: 0.9rem;
    color: var(--licorice);
    flex-grow: 2;
    border-bottom: 1px solid var(--licorice);
    text-align: start;
}

.task-description {
    font-size: 0.8rem;
    color: var(--licorice);
    flex-grow: 2;
    text-align: center;
}

.fa-trash-can {
    color: var(--licorice);
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.undo {
    color: var(--licorice);
    font-size: 1.3rem;
}

.delete-button {
    padding: 5px;
}

/* ******************   Add new task container  ******************** */



.add-task-button {
    padding: 12px 20px;
    position: fixed;
    right: 18px;
    bottom: 18px;
    color: var(--licorice);
    font-size: 1.6rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 80px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}